---
import { navLinks } from "../constant";
---

<footer class="flex flex-wrap justify-between">
  <div class="">
    <p class="text-white text-xl">&copy; Maquinados y Maquilas Especiales</p>
    <a href="#"></a>
  </div>
</footer>



































