---
let res = await fetch("https://sub.maqma.mx/wp-json/wp/v2/posts")
let posts = await res.json();
--- 

<section>
    <h1 class="title_services"> Our Services </h1>
    {
      posts.map((post) => (
        <article class="rename">
          <h2>
            <a href={`/posts/${post.slug}/`} set:html={post.title.rendered} />
          </h2>
          <Fragment set:html={post.content.rendered} />
        </article>
      ))
    }
  </section>



<style is:global>
    .title_services{
        @apply bg-gradient-to-r from-blue-600 via-green-500 to-indigo-400 inline-block text-transparent bg-clip-text text-5xl  
    }

    
    
</style>  