---
import Image from "astro/components/Image.astro";
---

<h2 class="text-secundary text-center font-primary text-3xl p-2 m-5">
  Services
</h2>
<div class="grid grid-cols-2 mx-auto md:grid-cols-3 gap-5 max-w-screen-lg">
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image.jpg"
      alt=""
    />

    <a href="http://"></a>
  </div>

  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-6.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-7.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-8.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-9.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-10.jpg"
      alt=""
    />
  </div>
  <div>
    <img
      class="h-auto max-w-full rounded-lg"
      src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-11.jpg"
      alt=""
    />
  </div>
</div>
