---

---

<!--About Us -->
<section class="mt-10 items-center">
  <h2 class="font-primary text-secundary text-center text-2xl">About Us</h2>
  <!-- Contenedor de la imagen -->
  <div
    class="m-20 bg-[url('hero.jpg')] bg-no-repeat bg-cover h-128 rounded-md mt-8 shadow-lg shadow-blue-500"
  >
    <h3 class="text-white font-primary text-center pt-10 text-3xl">More about now</h3>
    <p class="text-white pt-10 px-5 text-center mx-auto text-xl">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur
      eveniet quidem molestias inventore illo ex hic aliquam ratione
      perspiciatis totam quis voluptatem, atque, nam ullam architecto ipsa
      reiciendis, nobis sint!
    </p>
  </div>
</section>
