@tailwind base;
@tailwind components;
@tailwind utilities;




@import url('./assets/micro.otf');
  
@font-face {
  font-family: 'secundary';
  src: url('./assets/Open-Regular.ttf');
}

@font-face {
  font-family: 'Open Bold';
  src: url('./assets/Open-Bold.ttf');
}

@font-face {
  font-family: 'Open Med';
  src: url('./assets/Open-Medium.ttf');
}


.container-nav{
  @apply bg-primary font-black flex flex-row justify-between
}

.mqm-image{
  @apply m-10
}

.nav{
  @apply mx-auto p-14
}

.nav-link{
  @apply text-secundary
hover:text-white ease-in-out transition-all m-5
}
