@tailwind base;
@tailwind components;
@tailwind utilities;


  @font-face {
    font-family: primary;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("./assets/micro.otf") format("truetype");
  }

  @font-face {
    font-family: paragraph;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("./assets/Open-Regular.ttf") format("truetype");
  }


  @font-face {
    font-family: titles;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url("./assets/Open-Medium.ttf") format("truetype");
  }

/*Carousel*/







