---
const { frontmatter, content } = Astro.props;
import "../styles/index.css";
---

<html>
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <h1>{frontmatter.title}</h1>
    <article>
      <slot />
    </article>
  </body>
</html>
