---
const { frontmatter, content } = Astro.props;
import "../styles/index.css";
---

<html>
  <head>
    <title>{frontmatter.title}</title>
  </head>
  <body>
    <h1 class="text-white text-2xl font-primary">{frontmatter.title}</h1>
    <article class="text-white">{frontmatter.content}
      <slot />
    </article>
  </body>
</html>
